body {
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-main {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    background-color: #fefefe;
    align-items: center;
    padding: 20px
}

.todo-title {
    text-align: center;
}

.todo-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.todo-inputbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
    align-self: center;
}

.todo-input {
    padding: 7px;
    border: 1px solid #f1f3f5;
    border-radius: 7px;
    width: 70%;
}

.todo-submit-btn {
    padding: 7px;
    width: 70px;
    margin-left: 5px;
    color: #fefefe;
    border: none;
    background-color: #4ea5f5;
    border-radius: 7px;
}

/* todo리스트 항목의 스타일들 */

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    gap: 10px;
    width: 100%;
    max-width: 450px;
    align-self: center;
}

.todo-item-text {
    flex-grow: 1;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.delete-btn {
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    color: #fefefe;
    background-color: red;
    text-align: center;
}
